[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
twine = "*"
aiounittest = "*"

[packages]
requests = "*"
aiohttp = "*"
attrdict = "*"
pydantic = "*"
loguru = "*"

[requires]
python_version = "3.7"
